

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



.main {
  font-family: 'Rubik', sans-serif;
  display: grid;
  grid-template-columns: 1fr  1fr;
  min-height: 100vh;
  
  padding: 4rem;
}
.mainIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.oneIndex {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10rem;
  margin-left: 4rem;
}
.twoIndex {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10rem;

}
.choiceIndex {
  border: solid black 1px;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem;
  max-width: 28rem;
  background-color: rgba(170, 167, 229, 0.745);

}
.mainIndex h2 {
  font-family: "Rubik", sans-serif;
}
.mainIndex h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
}
.frontQuiz {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
}
.frontQuiz2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
  font-size: 3rem;
  letter-spacing: 0.1ch;
  margin-bottom: -11rem;
}
.side {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items:flex-end;
 

}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: solid green 1px;
  padding: 1rem;
  margin-top: 4rem;
  border-radius: 10px;
  background-color: rgba(77, 70, 217, 0.745);

}
.side2 {
  


}
.mainLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;

}
.score {
  margin-top: 4rem;

}
.scoreFinal {
  margin-top: 2rem;
  font-family: "Rubik", sans-serif;
  font-size: 7rem;
  font-weight: 700;

}
.questionCont {
  margin-top: 4rem;
 
  padding: 1rem;
  min-width: 40%;
  }
  .currentQ {
   margin-top: 2rem;
   color:#fff;
  
  }
.question {
  margin-bottom: 2rem;
}
.currentScore {
  margin-top: 11rem;
  color:#fff;
}
.html {
  margin-left: 4rem;
  margin-top: 2rem;
}
.choice{
  display: flex;
 
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  border: solid black 1px;
  padding: 1rem;
  max-width: 28rem;
  background-color: rgba(170, 167, 229, 0.745);

}

.choice:hover {
  outline: solid purple 2px;
  color: #fff;
  
}
.choice:nth-child(1)::before {
  background-color: #fff;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #656B83;
  content: "A";

}
.choice:nth-child(n+1):hover::before {
  background-color: purple;
  color:#fff
}
.active::before {
  background-color: orange;
  color:#211a1a
}
.choice:nth-child(2)::before {
  background-color: #fff;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #656B83;
  content: "B";

}
.choice:nth-child(3)::before {
  background-color: #fff;
 min-width: 10%;
 display: flex;
  justify-content: center;
 align-items: center;
 font-size: 2rem;
  color: #656B83;
 content: "C";

}
.choice:nth-child(4)::before {
  background-color: #fff;
 min-width: 10%;
 display: flex;
  justify-content: center;
 align-items: center;
 font-size: 2rem;
  color: #656B83;
 content: "D";

}
.completed {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    }

.completedOne {
 
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
 
 max-height: 50%;
 min-width: 50rem;

}
.completedOne h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
.completedOne p {
 font-weight: 700;
}
.completedTwo {
 
}
.innerCompletedTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  border-radius:10%;
  min-height: 60%;
 
  padding: 1rem;
  max-width: 80%;
  background-color:#656B83;
 
 

}
.htmlp {
  font-weight: 700;
  font-size: 3rem;
  
}
.completedTwo p {
  margin-top: 2rem;
font-weight: 300;
font-size: 2rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid black 1px;
  border-radius: 20px;
  background-color: rgba(136, 88, 218, 0.745);
  color:#fff;
  font-size: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  min-width: 80%;
}

@media (max-width: 768px) {

  .main,.mainIndex {
    display: grid;
    grid-template-columns: 1fr;
  }
  .oneIndex, .twoIndex {
    margin-top: 0rem;
    
  }
  .frontQuiz2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}